# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ALB\Tomcat_JavaEE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
